.bash_history
.bash_logout
.bashrc
.cache/
.config/
.lesshst
.local/
.motd_shown
.nodebrew/
.npm-packages/
.npm/
.npmrc
.nvm/
.profile
.sudo_as_admin_successful
.vim/
.viminfo
.yarnrc
.zcompdump
.zprofile
github/
.dbus/
.pki/
.tig_history
.wget-hsts
bin/
node_modules/
.gitconfig
.ssh/
tools/
